extend layout.pug

block content
    section#content
      h2= prompt
      p
        i Hint: #{hint}
    if hint2
      p
        i Hint2: #{hint2}
    else 
      p Hint2: no hint, second hint sorry.     